@{
    ViewData["Title"] = "Add a Task";
}
@model ApplicationResponse

<h1>
    Please add your task and information about it
</h1>

<div>
    <form method="post">
        <div asp-validation-summary="All">
            <label asp-for="Task">Task Name: </label>
            <input asp-for="Task" />
            <br />

            <label asp-for="DueDate">Due Date: </label>
            <input asp-for="DueDate" />
            <br />

            <label asp-for="Quadrant">Quadrant: </label>
            <select asp-for="Quadrant">
                <option value="">Select</option>
                <option value="Quadrant I">Quadrant 1</option>
                <option value="Quadrant II">Quadrant 2</option>
                <option value="Quadrant III">Quadrant 3</option>
                <option value="Quadrant IV">Quadrant 4</option>

            </select>
            <br />

            <label asp-for="CategoryID">Category: </label>
            <select asp-for="CategoryID">
                <option value="">Select</option>
                @foreach (Category C in ViewBag.Categories)
                {
                    <option value="@C.CategoryID">@C.CategoryName</option>
                }
            </select>
            <br />

            <div class="form-check">
                @Html.RadioButtonFor(model => model.Completed, true) Task Complete
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(model => model.Completed, false) Task Incomplete
            </div>
            <br />

        </div>
        <input type="hidden" asp-for="AppResponseId" />
        <button type="submit">Add now!</button>

    </form>
</div>